* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container {
    text-align: center;
}

.main-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
